.line{
  position: absolute;
    width: 1px;
    background-color: #FF4C60;
    top: 30px;
    bottom: 30px;
    left: 25px;
}
@media screen and (max-width:767px){
  .time-cont{
    width: 100% !important;
    margin-bottom: 2rem !important;
  }
}