@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  background-color: #F9F9FF;
}
html{
  scroll-behavior: smooth;
}
section{
  margin: 3rem;
  margin-bottom: 5rem;
}
.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
  margin-bottom: 3rem;
  font-weight: 700;
}
.section-title:before {
  content: "";
  background-image: url(./assets/dots-bg.svg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}
.btn-default {
  color: #FFF;
  background: #FF4C60;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  padding: 8px 30px;
  font-weight: 700;
}
.btn-default:hover {
  color: #FFF;
  -webkit-animation-name: button-push;
  animation-name: button-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@keyframes button-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none
}

::-webkit-scrollbar-thumb {
  background: #575485;
}
.main-container{
  margin-left:250px ;
}
@media  screen and (max-width:991px) {
  .main-container{
    margin-left: 0px;
  }
  
}